{% extends 'layout.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/users/users.css'%}">
{% endblock %}
{% block content %}
<div class="user-page-flex">
    <div id="user-manu">
        <!-- <div class="profile">
            <img src="{{user.profile_image.url}}">
        </div> -->
        <h2>{{user.username}}</h2>
        <ul>
            <li><a class="link" id="orders-link" href="#">orders</a></li>
            <li><a class="link" id="wishlist-link" href="#">wishlist</a></li>
            <li><a class="link" id="setting-link" href="#">setting</a></li>
        </ul>
    </div>
    <div id="user-manu-showcase">
        <div class="box" id="orders">
                <div class="orders-flex">
                    <table>
                        <tr>
                            <th>product</th>
                            <th>quantity</th>
                            <th>subtotal</th>
                        </tr>
                        {% for item in cart_item %}
                        <tr>
                            <td>{{item.product_book.book_title}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.subtotal}}$</td>
                            <td>
                                <a href="{% url 'users:delete' item.id %}">
                                    <img src="{% static 'icons/close.png'%}" alt="del">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <h2>total:{{total}}$</h2>
                </div>
        </div>
        <div class="box" id="wishlist">
            <h1>users wishlist</h1>
        </div>
        <div class="box" id="setting">
            <form class="setting-form" method="post" action="{% url 'users:user' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <button class="save-btn" type="submit">save</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}
{% block extra_js %}
<script src="{% static 'js/users/users.js'%}"></script>
{% endblock %}     