:root{
	--footer-background:rgb(51,51,51);
	--lighter-color:#f9f9f9;
	--white-color:#fefefe;
	--dark-color:#333;
    --primery-color:#febd81;
	--gary-color:#d4d4d4;
	--light-color:#e4e4e4;
	--shadow-color:0 3px 5px rgba(0,0,0,0.3);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:poppins, arial, sans-serif;
}

body{
    font-family:arial, sans-serif;
    background:var(--white-color);
}

.wrapper{
    display:flex;
    flex-direction:column;
}

/* HEADER */
header{
    height:80px;
    background:#fff;
    display:flex;
    align-items:center;
}

header > .container{
    background:inherit;
}

#logo{
    height:70px;
}

#logo > img{
    width:100%;
    height:100%;
    display:block;
    background-blend-mode:lighten;
}

#navbar{
    float:left;
    background:#fff;
    display:flex;
    align-items:bottom;
}

#navbar > ul{
    list-style:none;
    display:flex;
    align-items: end;;
    background:#fff;
}

#navbar > ul > li{
    padding:0 20px;
    background:#fff;
    float:right;
}

#navbar > ul > li > a{
    text-decoration:none;
    color:var(--dark-color);
    background:#fff;
    text-transform:uppercase;
    font-size:15px;
    font-weight:500;
    border-radius:4px;  
}

#navbar > ul > li > form{
    height:100%;
    display:flex;
    align-items: center;
    background:#fff;
}

#user-cart{
    height:100%;
}

#user-cart > a{
    height:28px;
    padding:0 5px;
    border:2px solid #444;
    background:#fff;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#user-cart > a:hover{
    border:2px solid #111;   
}

.cart-items-added{
    width:20px;
    margin:3px 9px;
    border-radius:50px;
    background:#333;
    color:#fff !important;
    font-size:13px;
    text-align: center;
    display:block;
}

#cart-icon{
    width:20px;
    height:20px;
    margin-left:5px;
    margin-right:5px;
    margin-top:3px;
    margin-bottom:3px;
    background:#fff;
    display:block;
}

#logout-form{
    padding-left:15px;
    border-left:1px solid #333;
}

.logout-btn{
    height:100%;
    padding:3px 30px;
    color: #fff;
    background:#333;
    border:none;
    border-radius:4px;
    font-size:13px;
    cursor: pointer;
    text-transform:capitalize;
}

.logout-btn:hover{
    color: #fff;
    background:#111;
    border:none;
    padding:3px 30px;
}

.logout-btn:active{
    color:#fff;
    background:#444;
}

/* MAIN  */
main{
    height:calc(100vh - 70px);
    flex:1;
}

/* CATEGORIES NEVBAR */
#categories{
    background:#333;
    position:relative;
}

#menu-categories {
    padding:50px 0 10px 0;
    background: inherit;
}

#menu-categories > ul{
    list-style:none;
    text-align:center;
}

#menu-categories > ul > li {
    display:inline-block;
    padding:0 20px;
}

#menu-categories > ul > li > a{
    text-decoration:none;
    color:var(--light-color);
    text-transform:capitalize;
}

#categories-menu > a{
	text-transform:uppercase;
	padding:10px 40px;
	text-decoration:none;
	color:#333;
	float:right;
}

#sub-category{
    margin-bottom:20px;
}

#sub-category > a{
	padding-bottom:5px;
    border-bottom:2px solid #333;
}

#sub-category > a:hover{
    border-bottom:2px solid var(--light-color);
    transition:all .3s linear;
} 

.showcase-header{
    height:200px;
	width:100%;
    padding:20px 0;
    display:flex;
    align-items: end;
    background:linear-gradient(to left,rgba(0,0,0,0)50%,rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../images/categories-background.jpg');
    background-size: cover;
}

.showcase-header > .container > h2{
    color:var(--light-color);
    font-size:18px;
    font-weight:400;
}

/* MESSAGES */
.messages{
    padding:10px 0 10px 30px;
    width:100%;
    font-size:13px;
    text-transform:capitalize;
    color:#994D1C;
    background:#FEFEA4;
    position:absolute;
    border:3px solid #FFDC76;
    border-radius:4px;
    opacity: 0; /* Start hidden */
    animation: messagePopup 4s ease-in-out forwards;
    z-index:-1;
}

/* Keyframes for the animation */
/* Animation */
@keyframes messagePopup {
    0% {
        opacity: 0;
        transform: translateY(-100%); /* Start off-screen */
    }
    10% {
        opacity: 1;
        transform: translateY(0); /* Slide down */
    }
    80% {
        opacity: 1;
        transform: translateY(0); /* Stay in place */
    }
    100% {
        opacity: 0;
        transform: translateY(-100%); /* Slide back up and disappear */
        display:none;
    }
}


/* FOOTER */
footer{
    width:100%;
    padding:100px 0 30px 0;
    background:var(--dark-color);
    display:flex;
    align-items:end;
    justify-content:center;
}

footer > p{
    color:#fff;
}