/* CONTAINERS ELEMENTS */
.container{
    width:80%;
    margin:0 auto;
}

.default-container{
    height:100%;
    display:grid;
    place-items:center;
    text-align:center;
}

.default-container > h1{
    font-size:100px;
}

/* ALIGNING ELEMENTS */
.flex{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}