/* CONTAINERS ELEMENTS */
.container{
    width:80%;
    margin:0 auto;
}

.default-container{
    min-height:430px;
}

.default-container > h1{
    font-size:100px;
}

.default-box{
    width:100%;
    height:600px;
    background:var(--primery-color);
    border-radius:8px;
}

.btn{
    width:100%;
    padding:5px 0;
    background:#333;
    text-transform:lowercase;
    color:var(--light-color);
    border:none;
    border-radius:2px;
}

.btn:hover{
    background:#111;
    transition:background .3s linear;
}

/* ALIGNING ELEMENTS */
.flex{
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}