.details-bg{
    background:linear-gradient(to left,rgba(225,225,225,0.9),white 50%,rgba(225,225,225,0.5)),url('../../images/book-background-1.jpg');
    background-size: cover;
    overflow: visible;
}

#details-container{
    width:60%;
    padding:100px 0 0 0;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

#details-container > .item-info{
    margin-bottom:50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
} 

.details-image > img{
    width:250px;
    height:400px;
    display:block;
}

.details-content{
    width:500px !important;
    height:100%;
    padding:50px 20px 20px 80px;
    margin-left:50px;
    margin-top:30px;
    border-left:1px solid #333;
    display:flex;
    flex-direction:column;
}

.details-content > h1{
    width:400px;
    margin-bottom:15px;
    text-transform:uppercase;
    font-weight:900;
    color:var(--dark-color);
}

.details-content > p{
    font-size:14px;
    color:#aaa;
}

.details-content > .content-info{
    margin-bottom:10px;
}

.details-content > .content-info > .price{
    margin:20px 0;
    font-size:50px;
    font-weight:280;
}

.buy_btn,
.add_btn{
    margin-top:auto;
    margin-bottom:10px;
    width:100%;
    padding: 5px 20px;
    background:#fff;
    border-radius:4px;
    cursor:pointer;
    text-transform:uppercase;
}

.add_btn{
    color:var(--dark-color);
    background:var(--white-color);
    border:2px solid var(--dark-color);
}

.buy_btn{
    color:var(--white-color);
    background:var(--dark-color);
    border:2px solid var(--dark-color);
}

.buy_btn > a{
    text-decoration:none;
    background:var(--dark-color);
    color:inherit;
}

.buy_btn:hover{
    background:#111;
}

.details-plot{
    margin:40px 0;
    padding:0 40px;
}

.details-plot > h2{
    margin-bottom:20px;
    text-transform:capitalize;
}

.details-plot > hr{
    margin:15px 0;
}

/* review section  */
#reviews{
    width:60%;
    padding:100px 40px 100px 40px;
    margin:0 auto 0 auto;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

#reviews_form{
    width:100%;
    padding:10px;
    border-radius:6px;
    display:flex;
    flex-direction:column;
}

#reviews_form> input,
#reviews_form > textarea{
    padding:5px;
    border:2px solid #ccc;
    border-radius:4px;
}

#reviews_form> input:hover,
#reviews_form> input:active,
#reviews_form > textarea:hover,
#reviews_form > textarea:active{
    border:2px solid #888;
    transition:border .3s linear;
}

#reviews_form > textarea{
    width:100%;
    height:200px;
}

#reviews_form > button{
    margin:15px 0;
}

#review-btn{
    margin:30px 0;
}

#users-reviews-list{
    width:100%;
    height:500px;
    margin:20px 0;
    background:#ccc;
    border:1px solid #aaa;
    border-radius:6px;
}

.user-review{
    width:100%;
    margin:10px 0;
    padding:20px;
    border:1px solid #333;
}

/* REVIEWS - no reviews*/
#no-reviews{
    width:100%;
    height:300px;
    margin:40px 0;
    border:6px dashed #888;
    border-radius:4px;
    display:flex;
    align-items: center;
    text-align: center;
}

#no-reviews > h2{
    width:100%;
    color:#999;
    text-transform:uppercase;
}