/* CATEGORIES MENU */
#categories{
    margin-bottom:50px;
    padding:30px 20px 30px 0;
}

#menu-categories{
    direction: rtl;
}

#menu-categories > ul{
    list-style:none;
}

#menu-categories > ul > li {
    display:inline-block;
    padding:0 0 0 40px;
}

#menu-categories > ul > li > a{
    text-decoration:none;
    color:#333;
}

#sub-category{
	cursor:pointer;
}

#categories-menu{
	display:none;
	width:80%;
	margin:auto 0;
	padding:20px 20px 20px 0;
	border:1px solid #333;
	border-top:none;
	border-radius:0 0 6px 6px;
	position:absolute;
	background:#eee;
}

#categories-menu > a{
	text-transform:uppercase;
	padding:10px 40px;
	text-decoration:none;
	color:#333;
	float:right;
}

#sub-category > p{
	padding-right:20px;
}

#sub-category:hover{
	background:#eee;
	border-radius:4px 4px 0 0;
} 

#sub-category:hover #categories-menu{
	display:block;
}

/* book-card-list */
.cards-container{
	display:grid;
	grid-template-columns:repeat(auto-fill,minmax(170px,170px));
	justify-content: center;
	column-gap:10px;
	row-gap:30px;
}

.book-card{
	max-width:200px;
	margin:5px;
	border:1px solid var(--gary-color);
	transition:box-shadow .3s linear;
	text-align:center;
}

.book-card:hover{
	border-color:rgb(51,51,51);
}

.card-flex{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.book-image{
	height:250px;
}

.book-image > img{
	width:100%;
	height:100%;
	display:block;
}

.book-card-content{
	padding:10px;
}

.book-title, .book-sub-title,
.book-price{
	margin:5px 0;
}

.book-title{
	font-size:11px;
	font-weight:400;
	text-transform:capitalize;
	color:var(--dark-color);
}

.book-sub-title{
	font-size:11px;
	text-transform:capitalize;
	color:#999;
}

.book-price{
	font-size:20px;
	color:#515151;
	font-weight:300;
}

.book-card-btn{
	width:100%;
	padding:5px 10px;
	font-size:13px;
	text-transform:uppercase;
	font-weight:500;
	color:var(--white-color);
	background:var(--dark-color);
	border:1px solid var(--dark-color);
	border-radius:3px;
	cursor:pointer;
}

.book-card-btn > a{
	text-decoration:none;
	color:#fff;
}