{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | book details {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store/book_details.css' %}">
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div id="details-container" class="container">
        <div class="details-image">
            <img src="{{book_details.images}}" alt="book_poster">
        </div>
        <div class="details-content">
            <h1>{{book_details.title}}</h1>
            <p>{{book_details.author}}</p>
            <p>Written Worlds Books & Co.</p>
            <p>published year :{{book_details.published_year}}</p>
            <p>rating : {{book_details.rating}}</p>
            <div class="content-info">
                <p class="price">{{book_details.price}}$</p>
            </div>
            <div id="buttons">
            <button class="add-book-btn btn" value="{{book_details.id}}">add to cart</button>
            </div>
            <div class="details-plot">
                <h2>description</h2>
                <p>{{book_details.description}}</p>
            </div>
        </div>
    </div>

    <!-- reviews section  -->

    <section id="reviews">

        <h2>users reviews</h2>

        <div>   
            {% if user.is_authenticated %}
                <form id="reviews_form">
                    {% csrf_token %}
                    <input type="hidden" id="comment_id" value="{{book_details.id}}">
                    <label for="title">title:</label>
                    <input type="text" name="title" id="title" placeholder="review title" required>  
                    <label for="comment">comment:</label>
                    <textarea id="comment" name="comment" cols="30" rows="10" required></textarea> 
                    <button type="submit">add review</button>
                </form>
            {% else%}
                <a href="{% url 'accounts:login'%}">login to add your review</a>
            {% endif %}
        </div>

        <div id="reviews-list">
            {% if book_reviews %}
                {% for review in book_reviews %}

                <div class="user-review">
                    <p><b>{{review.title}}</b></p>
                    <hr>
                    <p>{{review.comment}}</p>
                    <div>
                        <span>{{review.user}}</span>
                        <span>{{review.date}}</span>
                    </div>
                </div>

                {% endfor %}
            {% else %}
                <p>no reviews yet!</p>
            {% endif%}  

        </div>
    </section>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'js/store/cart.js' %}"></script>
<script src="{% static 'js/store/reviews.js' %}"></script>
{% endblock %}