{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | book details {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/store/book_details.css' %}">
{% endblock %}
{% block content %}
    <div id="details-container">
        <div class="details-image">
            <img src="{{book_details.images}}" alt="book_poster">
        </div>
        <div class="details-content">
            <h1>{{book_details.book_title}}</h1>
            <p>{{book_details.author}}</p>
            <p>Written Worlds Books & Co.</p>
            <p>published year :{{book_details.published_year}}</p>
            <div class="content-info">
                <p class="price">{{book_details.book_price}}$</p>
            </div>
            <div id="buttons">
                <button class="add_btn">add to cart</button>
                <button class="buy_btn">buy now</button>
            </div>
            <div class="details-plot">
                <h2>plot</h2>
                <p>{{book_details.book_description}}</p>
            </div>
        </div>
    </div>
{% endblock %}