{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | Categories {% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/store/store.css' %}">
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="showcase-header">
        <div class="container">
            <h2>category / {{title}}</h2>
        </div>
    </div>

    <section class="default-container container">
        <div>
        <h2>category / {{title}}</h2>
        </div>
        <div class="cards-container">
            {% for book in category %}
        
            <div class="book-card card-flex">
                <a class="book-image" href="{% url 'store:details' slug=book.slug id=book.id %}">
                    <img src="{{book.images}}" alt="book_image">
                </a>
                <div class="book-card-content">
                    <h3 class="book-title">{{book.title}}</h3>
                    <p class="book-sub-title">{{book.author}}</p>
                    <p class="book-price">{{book.price}}$</p>
                    <button class="add-book-btn btn" value="{{book.id}}">Add To Cart</button>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>    
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'js/store/cart.js'%}"></script>
{% endblock %}

