{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | Categories {% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/store/store.css' %}">
{% endblock %}
{% block content %}
    <section id="categories">
            <nav id="menu-categories">
                <ul>
                    <li id="sub-category">
                        <p>categories</p>
                        <div id="categories-menu">
                            {% for item in category%}
                            <a href="{% url 'store:category' item.name %}">{{item.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li><a href="#">new commers</a></li>
                    <li><a href="#">on-sale</a></li>
                    <li><a href="#">best seller</a></li>
                </ul>
            </nav>
    </section>

    <section class="default-container">
        <h2>{{title}}</h2>
        <div class="cards-container">
            {% for book in categories %}
        
            <div class="book-card card-flex">
                <a class="book-image" href="{% url 'store:details' slug=book.slug %}">
                    <img src="{{book.images}}" alt="book_image">
                </a>
                <div class="book-card-content">
                    <h3 class="book-title">{{book.book_title}}</h3>
                    <p class="book-sub-title">{{book.author}}</p>
                    <p class="book-price">{{book.book_price}}$</p>
                    <button class="book-card-btn"><a href="{% url 'store:add_to_cart' book.book_id %}">Add To Cart</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>    
{% endblock %}