{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | HOME {% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/store/store.css' %}">
{% endblock %}
{% block content %}
    <section id="categories">
        <div class="container">
            <nav id="menu-categories">
                <ul>
                    <li><a href="#">categories</a></li>
                    <li><a href="#">new commers</a></li>
                    <li><a href="#">on sale</a></li>
                    <li><a href="#">best seller</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="default-container">
        <div class="cards-container">
            {% for book in books %}
            <div class="book-card card-flex">
                <a class="image" href="{% url 'store:details' slug=book.slug %}">
                    <img src="{{book.images}}" alt="book_image">
                </a>
                <div class="book-content">
                    <h3 class="book-title">{{book.book_title}}</h3>
                    <p class="book-sub-title">{{book.author}}</p>
                    <p class="book-price">{{book.book_price}}$</p>
                </div>
                <div class="card-buttons">
                    <button class="btn">Add To Cart</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>    
{% endblock %}