{% extends 'layout.html'%}
{% load static %}
{% block title %}in second read | HOME {% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/store/store.css' %}">
{% endblock %}
{% block content %}

    <div class="showcase-image">
        <div class="content">
            <h2>wellcome to our bookstore</h2>
            <p>Discover a world of stories, knowledge, and adventure. Whether you're looking for timeless classics, the latest bestsellers, or hidden literary gems, we have something for every reader.find your next favorite book, and enjoy the magic of reading!</p>
        </div>
    </div>

    {% include 'navbar.html' %}                          

    <section class="default-container container">
        <div class="cards-container">
            {% for book in books %}
        
            <div class="book-card card-flex">
                <a class="book-image" href="{% url 'store:details' slug=book.slug id=book.id%}">
                    <img src="{{book.images}}" alt="book_image">
                </a>
                <div class="book-card-content">
                    <h3 class="book-title">{{book.title}}</h3>
                    <p class="book-sub-title">{{book.author}}</p>
                    <p class="book-price">{{book.price}}$</p>
                    <button class="add-book-btn btn" id="add-book" value="{{book.id}}">Add To Cart</button>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>   
    
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'js/store/cart.js'%}"></script>
{% endblock %}