.form-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 70px);
}

.site-form{
    width:500px;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #F5F5F5;
    box-shadow:0 3px 5px rgba(0,0,0,0.3);
}

.site-form > div > fieldset{
    display:none;
}
.site-form .helptext{
    display:none;
}

.site-form > .errorlist{
    color:#F3C623;
    list-style:none;
}

.site-form label{
    display:block;
    margin-bottom:10px;
    font-size:13px;
    color:inherit;
}

.site-form input{
    width:100%;
    margin-bottom:20px;
    padding:4px;
    font-size:15px;
    color:#1E201E;
    border:0;
    border-bottom:1px solid #ccc;
    border-radius:4px;
    outline:none;
}

.submit-btn{
    width:100%;
    padding:10px 0;
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    background:#333;
    border:2px solid #333;
    border-radius:4px;
    cursor:pointer;
    outline:none;
}

.submit-btn:hover{
    color:#fff;
    background:#333;
    border:2px solid #333;
}

.submit-btn:active{
    color:#333;
    background:#fff;
    border:2px solid #333;
}
