.form-container{
    height:calc(100vh - 70px);
    background:linear-gradient(to left ,rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('../../images/letter-bg.jpg');
    background-size:cover;
}

.form-container > .flex{
    flex-direction:column;
    justify-content: center;
    align-items: end;
}

.site-form{
    width:450px;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #F5F5F5;
    border-radius:12px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
    background:#fff;
}

.site-form > div > fieldset{
    display:none;
}
.site-form .helptext{
    display:none;
}

.site-form > .errorlist{
    color:#F3C623;
    list-style:none;
}

.site-form label{
    display:block;
    padding-bottom:10px;
    font-size:13px;
    color:inherit;
}

.site-form input{
    width:100%;
    margin-bottom:20px;
    padding:4px;
    font-size:15px;
    color:#1E201E;
    border:0;
    border:2px solid #ccc;
    border-radius:4px;
    outline:none;
}

.site-form input:hover,
.site-form input:active{
    border:2px solid #888;
}

.site-form > p{
    text-align:center;
    margin:30px 0 15px 0;
    font-size:15px;
}

.submit-btn{
    width:100%;
    padding:10px 0;
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    background:#333;
    border:2px solid #333;
    border-radius:4px;
    cursor:pointer;
    outline:none;
}

.submit-btn:hover{
    color:#fff;
    background:#111;
    border:2px solid #333;
    transition:background .3s linear;
}

.submit-btn:active{
    color:#333;
    background:#fff;
    border:2px solid #333;
}
