<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'css/utilities.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/site_logo.png'%}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container flex">
                <div id="logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo_image">
                </div>
                <nav id="navbar">
                    <ul>              
                        {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="logout-btn" type="submit">logout</button>
                            </form>
                        </li>
                        <li><a href="{% url 'users:user' %}">user</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">login</a></li>
                        <li><a href="{% url 'accounts:signup'%}">signup</a></li>
                        {% endif %}
                        <li><a href="{% url 'store:home' %}">store</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container">
    {% block content %}

    
    {% endblock %}
        </main>
    </div>
</body>
{% block extra_js%}
{% endblock %}
</html>