<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/layout.css'%}">
    <link rel="stylesheet" href="{% static 'css/utilities.css'%}">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container flex">
                <div id="logo">
                    <img src="{% static 'images/logo.png' %}" alt="logo_image">
                </div>
                <nav id="navbar">
                    <ul>
                        <li><a href="#">logout</a></li>
                        <li><a href="#">user</a></li>
                        <li><a href="#">login</a></li>
                        <li><a href="#">signup</a></li>
                        <li><a href="#">store</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
    {% block content %}

    
    {% endblock %}
        </main>
    </div>
</body>
</html>