{% extends 'layout.html'%}
{%block title %}in second read | LOGIN {% endblock%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <button class="submit-btn" type="submit" >login</button>
    </form>
</div>
{% endblock %}