.user-page-flex{
    height:100%;
    padding:30px 0 20px 0;
    display:flex;
    flex-direction:row;
    direction:rtl;
}

#user-manu{
    height:100%;
    width:200px;
}

.profile{
    width:100px;
    height:100px;
    border-radius:100%;
}

.profile > img{
    width:100%;
    height: 100%;
    display: block;
    border-radius:100%;
    border:3px solid #999;
}

#user-manu > h2{
    font-size:16px;
}

#user-manu ul li a{
    text-decoration:none;
    font-weight:500;
    text-transform:capitalize;  
    color:#333; 
    font-size:16px; 
}

#user-manu ul li{
    margin:15px 0;
}

#user-manu ul{
    width:100%;
    list-style:none;
    display:inline-block;
}

#user-manu-showcase{
    height:100%;
    width:100%;
    padding:20px;
    border:1px solid #333;
    border-radius:12px;
}

.box {
    display: none;
}

.box.active {
    display: block;
    width:100%;
    height:100%;
    direction:ltr;
}

/*users - orders */

.orders-flex{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.orders-flex > table{
    width:100%;
    border-collapse: collapse;
}

table > tbody > tr > th,
table > tbody > tr > td{
    padding:10px 40px;
    text-align:center;
    border-bottom:1px solid #333;  
}

table > tbody > tr > td > a{
    width:20px;
    height:20px;
}

table > tbody > tr > td > a > img{
    width:20px;
    height:20px;
    display:block;
}

#payment{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#payment > div > button{
    padding:5px 20px;
    font-size:18px;
    font-weight:500;
    color:#fff;
    background:steelblue;
    border:none;
    border-radius:2px;
    cursor:pointer;
}

#payment > div > button:hover{
    background: skyblue;
}

/* users - wishlist */

/* users - settings */
.setting-form{
    width:500px;
    padding:20px;
}

.setting-form > div > fieldset{
    display:none;
}
.setting-form .helptext{
    display:none;
}

.setting-form > .errorlist{
    color:#F3C623;
    list-style:none;
}

.setting-form label{
    display:block;
    margin-bottom:10px;
    font-size:13px;
    color:inherit;
}

.setting-form > div {
    margin:20px 0;
}

.setting-form > div > input[name="username"],
.setting-form > div > input[name="email"]{
    width:100%;
    padding:4px;
    font-size:15px;
    color:#1E201E;
    border:2px solid #333;
    border-radius:4px;
    outline:none;
}

.setting-form > div > input[name="profile_image"]{
    border:none;
}

.save-btn{
    width:100%;
    padding:10px 0;
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    background:#333;
    border:2px solid #333;
    border-radius:4px;
    cursor:pointer;
    outline:none;
}

.save-btn:hover{
    color:#fff;
    background:#333;
    border:2px solid #333;
}

.save-btn:active{
    color:#333;
    background:#fff;
    border:2px solid #333;
}



